xbt:
  rpc_version: '0.9.6.2015'
  gui_version: '0.9.6.2015'
  themes:
    demo: '0.9.6.2015'
    default: '0.9.6.2015'
  rpc_config:
    remote_server: 'prod'
  gui_config:
    theme: 'default'
    language: 'en'
    show_cursor: false
