xbt:
  version: '0.9.6.2015'
  themes:
    demo: '0.9.6.2015'
    default: '0.9.6.2015'
  config:
    theme: 'default'
    language: 'en'
    show_cursor: False
    use_dev_remote_server: False
    activation_code: 'XYZ90ZYX'
    language: 'en'
    theme: 'default'
    last_started: 12345678.90
    show_cursor: False
    use_dev_remote_server: False
    use_keypad: False
    disable_cctalk: False
